.form-table {
    display: flex;
    flex-direction: column;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.form-title {
    margin: 0 10px 10px 10px;
    text-align: center;
}

.form-error {
    margin: 5px;
}